/* HEADERS */

h1 {
    font-family: "trueno";
    font-size: 9.286rem;
    font-weight: 700;
}

h2 {
    font-family: "trueno";
    font-size: 6.429rem;
    font-weight: 700;
}

h4 {
    font-family: "trueno";
    font-size: 2rem;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.238rem;
    color: black;
}

h6 {
    font-family: "junicode";
    font-size: 1.286rem;
    font-weight: 100;
    font-style: italic;
    color: grey;
    /* color: red; */
}

p {
    font-family: "trueno";
    font-size: 1rem;
    font-style: normal;
    font-weight: 200;
    line-height: 2.286rem;
    color: grey;
    text-align: justify;
    /* color: #808080; */
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

/* LINKS */

a:link, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

/* SECTION */

section {
    width: 100%;
    /* border-top: 3px dotted aqua; */
    /* border-bottom: 3px dotted blue; */
    padding: 3.571rem 0rem;
}

/* section .content, header .content, .content { */

.content {
    width: 75%;
    margin: 0rem auto;
    /* border: 0.167rem dotted fuchsia; */
    position: relative;
}

/*TITLE SECTION */

.title_section {
    width: 100%;
    margin: 0rem auto 2.857rem auto;
    /* border: 0.167rem dotted red; */
}

.title_section h4 {
    font-size: 1.778rem;
    margin: 0rem 0rem 1.786rem 0rem;
    letter-spacing: 0.214rem;
}

.title_section .hammers_deco {
    display: inline-block;
    margin: 0rem 0rem 1.786rem 0rem;
}

.title_section .hammers_deco::before, .hammers_deco::after {
    display: inline-block;
    margin: 0rem 0.714rem 0.571rem 0.714rem;
    height: 0.071rem;
    content: " ";
    background-color: #999;
    width: 7.143rem;
}

.title_section .hammers_deco img {
    display: inline-block;
    margin: 0rem auto;
}

.title_section h6 {
    font-size: 1.286rem;
    text-transform: capitalize;
    color: grey;
}

/* DECO */

.triangle_deco {
    display: inline-block;
    margin: 0rem 0rem 1.286rem 0rem;
}

.triangle_deco::before, .triangle_deco::after {
    display: inline-block;
    margin: 0rem 0.714rem 0.786rem 0.714rem;
    height: 0.071rem;
    content: " ";
    background-color: #999;
    width: 10rem;
}

.circle_deco {
    display: inline-block;
    margin: 0rem 0.214rem;
    height: 0.857rem;
    width: 0.857rem;
    content: " ";
    background-color: #999;
    border-radius: 50%;
}

.tostao_background {
    background: goldenrod;
}

.tostao_color, #tostao_color {
    color: goldenrod;
    /* GoldenRod #DAA520 rgb(218, 165, 32) */
}

.clickable {
    cursor: pointer;
}

.button {
    display: inline-flex;
    text-align: center;
}

.button h4 {
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 0.214rem;
    font-style: normal;
    text-transform: uppercase;
    /* padding: 1.429rem 1.286rem; */
    border: 0.071rem solid black;
    padding: 0.789rem 0.486rem;
}

.button:hover h4 {
    color: white;
    background-color: black;
}

.left_triangle_deco {
    display: inline-block;
    border-top: 1.786rem solid transparent;
    border-bottom: 1.786rem solid transparent;
    /* border-left: 2.143rem solid red; */
    border-left: 2.143rem solid #eaeaea;
    z-index: 1;
    position: absolute;
    transform: translate(95%, -50%);
    top: 50%;
    right: 0%;
}

.right_triangle_deco {
    display: inline-block;
    border-top: 1.786rem solid transparent;
    border-bottom: 1.786rem solid transparent;
    /* border-right: 2.143rem solid red; */
    border-right: 2.143rem solid #eaeaea;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-95%, -50%);
}

.right_triangle_deco2 {
    display: inline-block;
    border-top: 1.786rem solid transparent;
    border-bottom: 1.786rem solid transparent;
    /* border-right: 2.143rem solid red; */
    border-right: 2.143rem solid #eaeaea;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-95%, -50%);
}

.down_triangle_deco {
    display: inline-block;
    border-top: 2.143rem solid green;
    border-bottom: 2.143rem solid transparent;
    border-right: 1.786rem solid transparent;
    border-left: 1.786rem solid transparent;
    z-index: 1;
    position: absolute;
    bottom: -21%;
    left: 43%;
    /* transform: translate(-95%, -50%); */
}

.up_triangle_deco {
    display: inline-block;
    border-top: 2.143rem solid transparent;
    border-bottom: 2.143rem solid red;
    border-right: 1.786rem solid transparent;
    border-left: 1.786rem solid transparent;
    z-index: 1;
    position: absolute;
    top: -21%;
    left: 43%;
}

.display_none {
    display: none;
}