@media only screen and (max-width:768px) {
    h1, h2, h3, h4, h5, h6 {
        color: red;
    }
}

@media only screen and (min-width:769px) and (max-width:991px) {
    html {
        font-size: 14px;
    }
    h1, h2, h3, h4, h5, h6 {
        /* color: green; */
    }
    /* mobile phones */
    /* samsung a3 2017 */
    h6 {
        font-size: 3.857rem;
    }
    h4 {
        font-size: 4rem;
    }
    p {
        font-size: 2.714rem;
        line-height: 6.286rem;
    }
    .content {
        width: 90%;
    }
    .title_section {
        width: 100%;
    }
    .title_section h4 {
        font-size: 4.778rem;
    }
    .title_section .hammers_deco img {
        height: 3rem;
    }
    .title_section h6 {
        font-size: 3.286rem;
        text-transform: capitalize;
        color: grey;
    }
    .test nav ul {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .test nav ul li {
        margin: 2rem 1rem;
        /* display: inline-flex; */
        width: 85%;
    }
    .test .pics_container .even, .odd {
        /* flex-direction: row-reverse; */
        flex-direction: column-reverse;
    }
    .test .pics_container .pics, .text {
        width: 100%;
    }
    .test .pics_container .pics .text h6 {
        font-size: 4.286rem;
    }
    .test .pics_container .pics .text h4 {
        letter-spacing: 0.071rem;
        font-size: 3.929rem;
    }
    .right_triangle_deco, .left_triangle_deco {
        display: none;
    }
    .up_triangle_deco {
        /* display: inline-block; */
        border-top: 4.143rem solid transparent;
        border-bottom: 4.143rem solid red;
        border-bottom: 4.143rem solid #eaeaea;
        border-right: 3.786rem solid transparent;
        border-left: 3.786rem solid transparent;
        /* z-index: 1; */
        /* position: absolute; */
        top: 0%;
        left: 0%;
        transform: translate(386%, -95%);
    }
    .down_triangle_deco {
        /* display: inline-block; */
        border-top: 4.143rem solid green;
        border-top: 4.143rem solid #eaeaea;
        border-bottom: 4.143rem solid red;
        border-bottom: 4.143rem solid transparent;
        border-right: 3.786rem solid transparent;
        border-left: 3.786rem solid transparent;
        /* z-index: 1; */
        /* position: absolute; */
        bottom: 0%;
        left: 0%;
        transform: translate(386%, 95%);
    }
}

@media only screen and (min-width:991px) {
    .up_triangle_deco, .down_triangle_deco {
        display: none;
    }
}