.refe {
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  color: goldenrod;
}

:root {
  --golden: goldenrod;
  --grey: #999999;
}
/* FONTS */

/* 100	Thin (Hairline) */

/* 200	Extra Light (Ultra Light) */

/* 300	Light */

/* 400	Normal */

/* 500	Medium */

/* 600	Semi Bold (Demi Bold) */

/* 700	Bold */

/* 800	Extra Bold (Ultra Bold) */

/* 900	Black (Heavy) */

/* junicode */

@font-face {
  /* junicode regular*/
  font-family: "junicode regular";
  src: url(./fonts/junicode-regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* junicode regular italic */
  font-family: "junicode regular italic";
  src: url(./fonts/junicode-italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  /* junicode bold italic */
  font-family: "junicode bold italic";
  src: url(./fonts/junicode-bold-italic.ttf);
  font-weight: 700;
  font-style: italic;
}

/* trueno */

@font-face {
  /* trueno ultra-light regular*/
  font-family: "trueno ultra-light regular";
  src: url(./fonts/trueno-ultra-light.otf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  /* trueno light regular*/
  font-family: "trueno light regular";
  src: url(./fonts/trueno-light.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  /* trueno regular*/
  font-family: "trueno regular";
  src: url(./fonts/trueno-regular.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* trueno bold regular*/
  font-family: "trueno bold normal";
  src: url(./fonts/trueno-bold.otf);
  font-weight: 700;
  font-style: normal;
}


html {
/* resoution 1920 x 1080 */
/* screen at 100% */
  font-size: 18px;
/*   font-size: 12px; */
  scroll-behavior: smooth;
  height: 100%;
}

body {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  /* position: relative; */
  height: 100%;
}

/* GENERAL SECTION AND CONTENT */

.centered {
  /* background-color: thistle; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section {
  width: 100%;
  padding: 3.571rem 0rem;
}

/* used only for visual limits representation */
.border {
  border: 0.055555556px dotted blue;
}

.content {
  width: 75%;
  margin: 0rem auto;
}

/* HEADERS */

h1 {
  font-family: "trueno bold normal";
  font-size: 9.286rem;
}

h2 {
  font-family: "trueno bold normal";
  font-size: 6.429rem;
}

h4 {
  font-family: "trueno bold normal";
  font-size: 2rem;
  text-transform: uppercase;
}
/* chnage h5 and h6 to have consistency */
h5 {
  font-family: "junicode regular italic";
  font-size: 1.2786rem;
  text-transform: capitalize;
}

h6 {
  font-family: "trueno ultra-light regular";
  font-size: 0.889rem;
}

/* Pending ! !!! */
p {
  font-family: "trueno ultra-light regular";
  line-height: 2.286rem;
  /* font-size: 1rem; */
  /* font-style: normal; */
  /* font-weight: 200; */
  /* line-height: 2.286rem; */
  /* color: grey; */
  /* text-align: justify; */
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}
.clickable {
  cursor: pointer;
}

/* LINKS */

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
/* START OF HEADER */

header {
  width: 100%;
  min-height: 100%;
  background-image: url(./images/headerBackground1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.headerSection {
  width: 100%;
  padding: 3.333rem 0rem;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
}

header nav ul li {
  padding: 0rem 1.428rem;
}

header h6 {
  letter-spacing: 0.112rem;
  text-transform: uppercase;
  padding: 1rem 0px;
  border-bottom: 0.083rem dotted transparent;
}
header h6:hover {
  border-bottom: 0.083rem solid goldenrod;
}

header .ShoppinCartSearch {
  display: flex;
  flex-direction: row;
}

header .ShoppinCartSearch .icon {
  height: 1.223rem;
  margin: 0rem 1.142rem;
  fill: goldenrod;
}

header .ShoppinCartSearch .icon:hover {
  fill: white;
  cursor: pointer;
}

header .enter h5 {
  color: white;
  padding: 2.444rem 1.778rem;
  border: 0.143rem solid white;
  border-radius: 50%;
  display: inline;
  background-color: black;
  /* only option for the transparent background? */
  /* ... maybe the easiest */
  background-color: rgba(0, 0, 0, 0.6);
}

header .enter h5:hover {
  color: black;
  background-color: white;
}

header .square {
  padding: 2.285rem;
  position: absolute;
  top: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
}

header .square:hover {
  /* background-color: grey; */
  opacity: 0.5;
}

header .left {
  left: 10%;
  background-image: url(./icons/chevronLeft.png);
}

header .right {
  right: 10%;
  background-image: url(./icons/chevronRight.png);
}

/* START OF MAIN */

main {
  position: relative;
}

/* WELCOME  */

.welcome .content {
  display: flex;
  /* height: -webkit-fill-available; */
}

.welcome .content aside {
  width: 30%;
  height: 45rem;
  margin: 0 auto;
  background-image: url(./images/logoZapGreySideways.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.welcome .content article {
  width: 70%;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* .welcome article p { */
/* line-height: 2.286rem; */
/* text-align: justify; */
/* } */

.welcome article .info {
  display: flex;
  justify-content: space-between;
}

.welcome article .item {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.welcome article .item .icon {
  height: 4.5rem;
  width: 4.5rem;
  border: 0.056rem solid goldenrod;
  border-radius: 50%;
  background-position: center;
  background-size: auto 1.785rem;
  background-repeat: no-repeat;
}

.welcome article .item .gem {
  background-image: url(././icons/gem.png);
}

.welcome article .item .camera {
  background-image: url(././icons/cameraRetro.png);
}

.welcome article .item .wand {
  background-image: url(././icons/magicWand.png);
}

.welcome article .item .text h4 {
  font-size: 1rem;
}

.button {
  display: inline-flex;
  letter-spacing: 0.214rem;
  border: 0.056rem solid black;
  padding: 0.789rem 0.486rem;
  text-transform: uppercase;
}

.button:hover {
  color: white;
  background-color: black;
}

/*TITLE SECTION */

.titleSection {
  width: 100%;
  margin: 0rem auto 2.778rem auto;
}
.titleSection div {
  padding: 0.444rem 0px;
}

.titleSection h5 {
  font-size: 1.778rem;
  text-transform: capitalize;
}

.titleSection .imgHammers {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.titleSection .imgHammers::before,
.imgHammers::after {
  display: inline-block;
  height: 0.071rem;
  content: " ";
  background-color: #999;
  width: 7.143rem;
}

.titleSection .imgHammers img {
  display: inline-block;
  margin: 0rem 1rem;
}

/* OUR WORKS */

.ourWorks nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ourWorks nav ul li {
  margin: 0rem 2rem 2rem 2rem;
}

.ourWorks nav h6 {
  padding: 0rem 1rem;
}

/* OUR WORKS - PICS CONTAINER */

.ourWorks .picsContainer {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
}

.ourWorks .picsContainer .pics {
  width: 25%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ourWorks .picsContainer .pics img {
  width: 100%;
  height: 100%;
}

.ourWorks .picsContainer .pics .overlay {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.65);
}
.ourWorks .picsContainer .pics .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 100%;
}

.ourWorks .picsContainer .pics .text h5 {
  text-transform: capitalize;
  font-size: 1.429rem;
  color: white;
  margin: 0rem 0rem 1.5rem 0rem;
}

.ourWorks .picsContainer .pics .text h4 {
  letter-spacing: 0.071rem;
  font-size: 1.143rem;
  color: white;
}

.ourWorks .picsContainer .pics:hover .overlay {
  opacity: 1;
}
.ourWorks .picsContainer .pics:hover .text {
  opacity: 1;
}

/* WHY CHOOSE US */

.whyChooseUs .explanation {
  display: flex;
  flex-direction: row;
  margin: 0rem 0rem 2.857rem 0rem;
  /* border: 0.111rem dotted blue; */
}

.whyChooseUs .explanation article {
  width: 70%;
  margin: 0rem auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.whyChooseUs .explanation aside {
  width: 30%;
  background-image: url(./images/whychoose.png);
  height: 24.444rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.whyChooseUs article h5 {
  margin: 2.857rem 0rem 0rem 0rem;
}

.whyChooseUs .footer {
  font-size: 0.714rem;
  letter-spacing: 0.071rem;
  /* margin: 0rem 0rem 1.429rem 0rem; */
  width: 30%;
}

.whyChooseUs .footer::before {
  display: block;
  margin: 0rem 0rem 0.571rem 0rem;
  height: 0.071rem;
  content: " ";
  background-color: #999;
  /* width: 4.643rem; */
  /* width: 25%; */
  width: 100%;
}

.whyChooseUs .services {
  margin: 0rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.whyChooseUs .items {
  width: 30%;
  margin: 1.111rem 0rem;
  display: inline-flex;
}

.whyChooseUs .items img {
  height: 2.5rem;
  width: auto;
  margin: 0rem 1.786rem 0rem 0rem;
  display: inline-flex;
  /* border: 0.048rem solid blue; */
}

whyChooseUs .items .content {
  display: flex;
  flex-direction: column;
  margin: 0rem auto 0rem auto;
}

.whyChooseUs .items h4 {
  display: block;
  text-align: left;
  font-size: 1.238rem;
  letter-spacing: 0.071rem;
}

.whyChooseUs .items p {
  margin: 1rem 0rem 0rem 0rem;
  line-height: 1.905rem;
  text-align: left;
}

.whyChooseUs .services .first_child::after,
.whyChooseUs .services .after::after {
  display: block;
  margin: 0rem 0rem 0.571rem 0rem;
  height: 0.071rem;
  content: " ";
  background-color: #999;
  width: 100%;
}

/* STADISTICS */

.stads .content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.stads {
  background-color: #303030;
}

.stads .stad_item h4 {
  font-size: 3.095rem;
  margin: 1.905rem auto 0rem auto;
  font-weight: 300;
  letter-spacing: 0rem;
  color: white;
}

.stads .stad_item h5 {
  letter-spacing: 0.095rem;
  text-transform: capitalize;
  margin: 1.905rem auto 1.905rem auto;
  color: white;
}

.stads .stad_item::after {
  display: block;
  margin: 1.905rem auto 1.905rem auto;
  height: 0.143rem;
  content: " ";
  background-color: goldenrod;
  width: 4rem;
}

/* MEET OUR TEAM */

.meet .team {
  padding: 0rem 0rem 1.905rem 0rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.meet .team_pic {
  width: 30%;
  height: auto;
  position: relative;
}

.meet .team_pic img {
  width: 100%;
  height: 100%;
  margin: 0rem auto;
}

.meet .team_pic .team_pic_text {
  text-align: left;
  position: absolute;
  bottom: 3%;
  left: 3%;
}

.meet .team_pic .team_pic_text:before {
  display: block;
  height: 0.048rem;
  content: " ";
  background-color: white;
  width: 100%;
}

.meet .team_pic .team_pic_text h4 {
  color: white;
  font-size: 1rem;
  margin: 0.476rem auto 0.444rem auto;
  font-weight: 700;
  letter-spacing: 0.095rem;
}

.meet .team_pic .team_pic_text h6 {
  color: white;
  font-size: 0.762rem;
  letter-spacing: 0.095rem;
  text-transform: uppercase;
}

.meet .extras {
  display: flex;
  flex-direction: row;
}

.meet .extras article {
  width: 70%;
  text-align: left;
}

.meet .extras article h4 {
  padding: 0rem 0rem 1.19rem 0rem;
}

.meet .extras aside {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

/* CLIENTS */

.clients .picsContainer {
  display: flex;
  justify-content: center;
}

.clients .picClient {
  height: 10rem;
  width: 10rem;
  border: 0.357rem solid white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0rem 1rem 1.786rem 1rem;
  border-radius: 50%;
}

.clients .client1 {
  background-image: url(./images/client1.png);
}

/* initial condition for golden border */
.clients .client2 {
  background-image: url(./images/client2.png);
  border-color: goldenrod;
}

.clients .client3 {
  background-image: url(./images/client3.png);
}

.clients .clientComment {
  margin: 0rem auto 2.143rem auto;
}

.clients .clientComment h5 {
  line-height: 1.714rem;
  display: inline-block;
}
.clients .clientContent .clientId {
  margin: 0rem 0rem 1rem 0rem;
}

.clients .clientContent h4 {
  font-size: 1.143rem;
  margin: 0rem auto 0.5rem auto;
  font-weight: 700;
  letter-spacing: 0.111rem;
}

.triangleDeco {
  display: inline-block;
  margin: 0rem 0rem 1.286rem 0rem;
}

.triangleDeco::before,
.triangleDeco::after {
  display: inline-block;
  margin: 0rem 0.714rem 0.786rem 0.714rem;
  height: 0.071rem;
  content: " ";
  background-color: #999;
  width: 10rem;
}

.circleDeco {
  display: inline-block;
  margin: 0rem 0.214rem;
  height: 1rem;
  width: 1rem;
  content: " ";
  background-color: #999;
  border-radius: 50%;
}

.tostaoBackground {
  background: goldenrod;
}

.tostaoColor,
#tostaoColor {
  color: goldenrod;
}

/* GET A QUOTE */
.quote {
  background-color: #303030;
  padding: 1.5rem 0rem;
}

.quote .content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.quote .button2 {
  background-color: var(--golden);
}

.quote h5 {
  font-size: 2rem;
  letter-spacing: 0.048rem;
  color: white;
}

.quote h4 {
  padding: 1.667rem 1.111rem;
  color: white;
  border: 1px solid black;
}
.quote h4:hover {
  color: var(--golden);
  background-color: white;
  border: none;
  border: 1px solid white;
}

/* BLOG */

.blog .picsContainer {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
}

.blog .picsContainer .pics,
.blog .picsContainer .text {
  width: 25%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
}

.blog .picsContainer .text {
  background-color: #eaeaea;
}

.blog .picsContainer .pics img {
  width: 100%;
  height: 100%;
}

.blog .picsContainer .pics .text h5 {
  text-transform: capitalize;
  font-size: 1.429rem;
  color: white;
  margin: 0rem 0rem 1.5rem 0rem;
}

.blog .picsContainer .pics .text h4 {
  letter-spacing: 0.071rem;
  font-size: 1.143rem;
  color: white;
}

.blog .picsContainer .row {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
}

.blog .picsContainer .even {
  flex-direction: row-reverse;
}

.blog .picsContainer .text .textContent {
  margin: 1.429rem 1.429rem;
}

.blog .picsContainer .textContent h5 {
  text-transform: capitalize;
  margin: 0rem 0rem 1.389rem 0rem;
  color: black;
}

.blog .picsContainer .textContent h4 {
  letter-spacing: 0.048rem;
  text-transform: capitalize;
  font-size: 1.333rem;
  font-weight: 300;
  margin: 3rem 0rem 1.389rem 0rem;
}

.blog .picsContainer .textContent p {
  margin: 0rem 0rem 2.222rem 0rem;
  text-align: left;
}

.blog .picsContainer .textContent a {
  margin: 0.556rem 0rem 0.833rem 0rem;
  display: inline-block;
}

.blog .picsContainer .textContent a h4 {
  letter-spacing: 0rem;
  text-transform: uppercase;
  font-size: 0.889rem;
  font-weight: 400;
  display: inline;
}

/* DECO */

.triangleDecoRight {
  display: inline-block;
  border-top: 2.222rem solid transparent;
  border-bottom: 2.222rem solid transparent;
  border-left: 2.222rem solid transparent;
  /* border-right: 2.222rem solid purple; */
  border-right: 2.222rem solid #eaeaea;
  z-index: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: -7%;
}

.triangleDecoLeft {
  display: inline-block;
  border-top: 2.222rem solid transparent;
  border-bottom: 2.222rem solid transparent;
  border-right: 2.222rem solid transparent;
  /* border-left: 2.222rem solid blue;  */
  border-left: 2.222rem solid #eaeaea;
  z-index: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 107%;
}

.up_triangle_deco {
  display: inline-block;
  border-top: 2.222rem solid transparent;
  border-left: 2.222rem solid transparent;
  border-right: 2.222rem solid transparent;
  /* border-bottom: 2.222rem solid greenyellow; */
  border-bottom: 2.222rem solid #eaeaea;
  z-index: 1;
  position: absolute;
  transform: rotate(1deg);
  transform: translate(-50%, -50%);
  top: -10%;
  left: 50%;
}

.down_triangle_deco {
  display: inline-block;
  border-bottom: 2.222rem solid transparent;
  border-left: 2.222rem solid transparent;
  border-right: 2.222rem solid transparent;
  /* border-top: 2.222rem solid red; */
  border-top: 2.222rem solid #eaeaea;
  z-index: 1;
  position: absolute;
  transform: rotate(1deg);
  transform: translate(-50%, -50%);
  top: 110%;
  left: 50%;
}

/* pricing main */

.pricing .promo {
  padding: 0rem 0rem 1.944rem 0rem;
}

.pricing .promo h4 {
  /* font-size: 1.111rem; */
  letter-spacing: 0.167rem;
  display: inline-block;
}

.pricing .promo h5 {
  display: inline-block;
  padding: 0rem 0.278rem;
}

/* tables */

.pricing .tablesContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.pricing .tablesContainer div {
  position: relative;
}

.pricing table {
  width: 22%;
  border: 0.048rem solid #eaeaea;
  position: relative;
}

.pricing table h4 {
  font-size: 1.25rem;
  font-size: 1.25rem;
  padding: 1rem 1rem;
  color: black;
}

.pricing table h5 {
  display: inline-block;
}

.pricing tr th {
  border-bottom: 0.048rem solid #eaeaea;
  letter-spacing: 0.167rem;
  padding: 1.111rem 1.111rem;
}

.pricing tr td {
  text-transform: capitalize;
  padding: 1.222rem 1.944rem;
  color: grey;
}

.pricing .check {
  height: 1rem;
  fill: goldenrod;
}
.pricing .amount {
  display: flex;
  justify-content: center;
}

.pricing .sign {
  color: black;
}

.pricing .money {
  color: black;
  font-size: 2rem;
}

.pricing .time {
  font-weight: 300;
  color: black;
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 0.048rem;
  padding: 1.222rem 0rem 0rem 0rem;
}

.pricing .button {
  width: 65%;
  display: table;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0rem 0rem 0rem 0rem;
  border: 0.048rem solid #eaeaea;
}

.pricing .button:hover {
  background-color: black;
  border: 1px solid black;
}

.pricing table tr td h4:hover {
  color: white;
}

/* GET IN TOUCH */

.getInTouch .contact {
  background-image: url(./images/backalley1.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.getInTouch .info {
  display: flex;
  justify-content: space-evenly;
  padding: 1.429rem 0rem 1.429rem 0rem;
}

.getInTouch .infoItem {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.444rem 0rem;
}

.getInTouch .infoItem .icon {
  height: 4.5rem;
  width: 4.5rem;
  border: 0.214rem solid goldenrod;
  border-radius: 50%;
  background-position: center;
  background-size: auto 1.785rem;
  background-repeat: no-repeat;
}

.getInTouch .infoItem .mobile {
  background-image: url(./icons/mobile.png);
}

.getInTouch .infoItem .mapMarker {
  background-image: url(./icons/mapMarker.png);
}

.getInTouch .infoItem .envelope {
  background-image: url(./icons/envelope.png);
}

.getInTouch .infoItem .text {
  justify-content: space-evenly;
  margin: 0rem 0rem 0rem 1.944rem;
}

.getInTouch .infoItem .text h5 {
  color: white;
  font-size: 1.143rem;
  font-weight: 400;
  padding: 0.071rem 0rem;
  text-align: left;
  letter-spacing: 0.071rem;
}

.getInTouch .data {
  width: 100%;
}

.getInTouch .data .formItemContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.getInTouch .data .formItemContainer .formItem,
.formItemB {
  width: 32%;
  max-width: 100%;
  text-align: left;
  padding: 2.778rem 0rem 2.5rem 0rem;
}

.getInTouch .data .formItemContainer .formItemB {
  width: 100%;
}

.getInTouch .data h6 {
  color: white;
  text-transform: uppercase;
  font-size: 1.111rem;
  font-weight: 700;
}

.getInTouch form {
  position: relative;
  padding: 0rem 0rem 1.667rem 0rem;
}

::placeholder {
  color: whitesmoke;
  opacity: 0.55;
  font-style: italic;
}

.getInTouch .formItem input[type="text"],
textarea {
  width: 100%;
  border-top: 0.048rem transparent;
  border-left: 0.048rem transparent;
  border-right: 0.048rem transparent;
  border-bottom: 0.048rem solid #eaeaea;
  background: transparent;
  color: white;
  font-family: "trueno";
  font-size: 1.111rem;
  font-weight: 100;
  letter-spacing: 0.048rem;
  line-height: 1.667rem;
  padding: 1.111rem 0rem;
  margin: 0.556rem 0rem;
}

.getInTouch .formItemB textarea {
  height: 2.778rem;
}

.getInTouch input[type="submit"] {
  font-size: 0.889rem;
  font-weight: 100;
  letter-spacing: 0.167rem;
  font-style: normal;
  text-transform: uppercase;
  padding: 0.778rem 1.944rem;
  border: 0.048rem solid whitesmoke;
  color: black;
  display: block;
  background-color: white;
  margin: 1.444rem 0rem;
}

.getInTouch input[type="submit"]:hover {
  color: white;
  background-color: black;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

/* PARTNERS */

.partners .picsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0rem 0rem 1.429rem 0rem;
}

.partners .picsContainer .picPartner {
  width: 24%;
  padding: 0.278rem;
}

.partners .picsContainer img {
  width: 100%;
  height: 100%;
}

/* SUMMARY */

.summary {
  background-color: #303030;
}

.summary .content {
  display: flex;
  text-align: left;
  padding: 30px 0px;
  padding: 1.667rem 0rem;
  width: 100%;
}

.summary .section {
  margin: 1.429rem 15px 0px 15px;
  /* border: 0.048rem solid red; */
  padding: 40px 30px 20px 30px;
}

.summary .section .sectionTitle {
  margin: 10px auto 25px auto;
  font-size: 0.889rem;
  font-weight: 100;
  letter-spacing: 0px;
}

.summary .sectionTitle {
  color: white;
}

.summary p {
  margin: 0px 0px 1.429rem 0px;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
}

.summary .agency {
  width: 35%;
  border-right: 0.048rem solid grey;
}

.summary .agency img {
  width: 50%;
}

.summary .links {
  width: 15%;
  color: grey;
  border-right: 0.048rem solid grey;
}

.summary .links .linksItems h4 {
  color: inherit;
  margin: 0px auto 20px auto;
  font-size: 0.889rem;
  font-weight: 100;
  letter-spacing: 0px;
}

.summary .links .linksItems h4:hover {
  color: goldenrod;
  font-weight: 400;
}

.summary .links .linksItems h4:hover {
  color: goldenrod;
  font-weight: 400;
}

.summary .twitter {
  width: 20%;
  border-right: 0.048rem solid grey;
}

.summary .twitter a:hover {
  color: goldenrod;
  /* font-weight: 400; */
}

.summary .twit .date img {
  width: 5%;
  display: inline-block;
  margin: 0px 5px 0px 0px;
}

.summary .twit .date p {
  display: inline-block;
  color: darkgray;
}

.summary .instagram {
  width: 30%;
  /* border: 0.048rem solid red; */
}

.summary .instagram .picsContainer {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}

.summary .instagram .pic {
  /* border: 3px solid salmon; */
  width: 25%;
  margin: 10px 10px;
  position: relative;
}

.summary .instagram .pic img {
  width: 100%;
  height: 100%;
}

.summary .instagram .pic .overlay {
  position: absolute;
  top: 0rem;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary .instagram .pic .overlay img {
  width: 30%;
  height: 30%;
}

.summary .instagram .pic:hover .overlay {
  opacity: 1;
}

/* FOOTER */

footer {
  background-color: #303030;
}

footer .content {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-evenly;
  align-items: center;
  padding: 10px 0px;
}

footer .copyright {
  width: 70%;
}

footer .social {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

footer .icon {
  height: 20px;
  fill: grey;
}

footer .icon:hover {
  fill: goldenrod;
}

/* ARROW UP */

.arrowUp {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: 2rem;
  transition: 0.5s ease;
}

.arrowUp .arrow_background {
  fill: goldenrod;
}

.arrowUp .arrow_shape {
  fill: white;
}

.arrowUp:hover .arrow_background {
  fill: transparent;
}

.arrowUp:hover .arrow_shape {
  fill: goldenrod;
}
